/* app wide styling */
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}


/* project style */
.project {
    max-width: 80%;
    margin: auto;
}

.project-container {
    max-width: 90%;
    margin: auto;
    margin-top: 12rem;
    margin-bottom: 6rem;
}

/* banner */
.jumbotron
 {
    text-align: center;
    background-color:#FBEDED;
    height: 30.3125rem;
}

.banner-enclosure .site-heading {
    margin-top: 3.125rem;
    font-size: 3.75rem;
    font-weight: bold;
    color: #F9C2C2;
}

.banner-enclosure .site-sub-heading {
    color: #999999;
    display: inline-block;
    text-align: center;
    font-weight: 200;
}

button.down-arrow {
    color: #A9A9A9;
    outline: none;
    font-weight: lighter;
    margin-top: 3.125rem;
    padding-right: 0.625rem;
    border: none;
    background-color: #FBEDED;
    opacity: .3;
    transform: scaleX(3.0) scaleY(1.5);
}

button.down-arrow:hover {
    text-decoration: none;
}

.hideBanner {
    animation: bannerHide 2s;
    transition: all .5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes bannerHide {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* navbar */
.nav-enclosure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-navbar {
    color: #515050;
}

.site-navbar ul.navbar-nav {
    margin-top: 0.4375rem;
    margin-left: 0.625rem;
}

.navbar-brand {
    margin-top: 0.4375rem;
    margin-left: -5.1rem;
    color: #515050;
    font-size: x-large;
    font-weight: 530;
}

.navbar-brand:hover {
    color: grey;
}

a:link, a:visited {
    color: #515050;
}

.nav-item a:hover {
    color: grey;
}

.nav-item a:active {
    color: #FEAAAA;
}

.nav-item a.nav-link.active {
    color: #FEAAAA;
}

a.fa-stack {
    margin-left: .5rem;
    margin-right: .25rem;
    transform: translateY(-25%) scale(1.2);
}

.icon-bg-1 {
    color: #FBEDED;
}

.icon-bg-2 {
    color: #FEAAAA;
    font-size: 0.8125rem;
}

/*when hover over social buttons*/
a.nav-link:hover i.fa-circle {
    color: #515050;
    opacity: .15;
}

a.nav-link:hover .icon-bg-2 {
    color: #282828;
}

/* card decks */
.projects {
    margin-top: 1.875rem;
}

.card-deck {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.small-card-style {
    width: 20rem;
    height: 15rem;
}


/* card styling */
.card {
    border: none;
}

.big-card-style {
    width: 32.8125rem;
    height: 26.25rem;
}

/* big cards */
div.big-card-style div.card {
    transition: all .2s ease-out;
}

div.big-card-style div.card:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 4px grey;
}

.projects-pull-up {
    animation: moveup 2s;
    animation-fill-mode: forwards;
}

@keyframes moveup {
    from {top: 0px;}
    to {top: -26rem;}
}

/* small cards */
div.small-card-style div.card {
    transition: all .2s ease-out;
}

div.small-card-style div.card:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 4px grey;
}

/* frame styling */
.frame-content {
    margin: auto;
    margin-top: 12.25rem;
    margin-bottom: 6.25rem;
}

/* work, proces, about, cv styling */
.wapc-section {
    background-color: #FCF7F7;
}

.wapc-subcontainer {
    max-width: 90%;
    margin: auto;
}

.wapc-container {
    max-width: 80%;
    margin: auto;
}

/* about page specific styling*/
.about-card-container {
    max-width: 80%;
    margin: auto;
    margin-bottom: -8rem;
    padding-top: 10rem;
}

.about-card-subcontainer {
    max-width: 90%;
    margin: auto;
    background-color: #FCF7F7;
}

.about-myimg-card {
    background-color: #FCF7F7;
    object-fit: cover;
}

.about-intro-card {
    background-color: #FCF7F7;
    color: #373636;
    font-weight: 100;
    font-size: 13px;
    line-height: 1.5rem;
    text-align: center;
}

.about-card-text {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 90%;
    height: 90%;
    margin: auto;
}

.about-footer {
    color: grey;
    text-align: center;
    padding-bottom: 2rem;
}

/* projects-footer */
.project-footer-text {
    color: grey;
}

.footer-card-deck {
    margin-bottom: 3.125rem;
}

/* spinner */
.frame-spinner {
    display: flex;
    padding-top: 12.5rem;
    align-content: center;
    justify-content: center;
}

.spinner-grow {
    color: #A9A9A9 ;
    height: 1rem;
    width: 1rem;
    margin: .3rem;
}

/* research button */
.rbtn-wrapper {
    display: flex;
    margin-top: -2.5rem;
    margin-bottom: 3.125rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.research-link {
    border: 1px #b5651d solid;
    padding: 0.625rem;
    font-size: small;
    font-weight: 700;
    border-radius: 0.625rem;
    text-decoration: none;
    outline: none;
}

a.research-link:hover {
    background-color: #b5651d;
    box-shadow: 2px grey;
    transform: scale(1.05);
    outline: none;
    text-decoration: none;
}

/* scroll to top styling */
.la-arrow-up {
    float: right;
    transform: scale(2.0);
    color: black;
    opacity: 1.0;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #515050;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .2;
    cursor: pointer;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

.dot:hover {
    opacity: .5;
}

/* experimentation */
.navbar-toggler {
    color: gray;
    padding: 0;
}


.showHideModal {
    background-color: white;
    z-index: 10;
    position: absolute;
    height: 300vh;
    width: 100vw;
}

.collapsible-wpac {
    margin-top: 6rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    text-align: center;
    margin-left: 0;
}

ul.navbar-nav.collapsible-social {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: center;
}

.collapsible-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

button.navbar-toggler.collapsed,
button.navbar-toggler {
    outline: none;
}

.social-enclosure {
    transform: translateX(-10%);
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
}

@media screen and (max-width: 450px) {
    * {
        font-size: 16px;
    }

    .project-container {
        margin-top:6rem;
    }

    .frame-content {
        margin-top: 6rem;
    }

    .wapc-subcontainer {
        max-width: 90%;
        margin: auto;
    }

    .wapc-container {
        max-width: 100%;
        margin: auto;
    }

    .about-card-container {
        margin-bottom: -5rem;
    }

    .la-arrow-up {
        transform: scale(1.0);
    }

    .navbar-brand {
        margin-left: 2.0rem;
        font-size: 16px;
        font-weight: 530;
    }

    .jumbotron {
        height: 20rem;
    }

    .banner-enclosure .site-heading {
        margin-top: 3.125rem;
        font-size: 30px;
    }

    .banner-enclosure .site-sub-heading {
        font-weight: 200;
    }

    button.down-arrow {
        margin-top: 2rem;
        transform: scaleX(3.0) scaleY(1.5);
    }

    .big-card-style {
        width: 32.8125rem;
        height: 18rem;
        margin: 1rem;
    }

    .small-card-style {
        margin-bottom: 1rem;
    }

    @keyframes moveup {
        from {top: 0rem;}
        to {top: -18rem;}
    }

    .dot {
        position: fixed;
        z-index: 10;
        bottom: 1.5rem;
        right: .5rem;
    }

}
/* for pixel xl and iphoneX */
@media screen and (max-width: 450px) and (min-height: 800px) {
    .dot {
        position: fixed;
        z-index: 10;
        bottom: 10rem;
        right: .5rem;
    }
}